<h1>Game Trade</h1>
<h3>troc your old games !</h3>

<% @games.each do |game| %>
  <p><%= game.game_name %></p>
  <p><%= game.plateforme %></p>
  <p><%= game.release_date %></p>
  <%= link_to "show more", game_path(game), class: "btn btn-default"  %>
<% end %>
